/* :root {
    --indexColor: white;
} */

.modalWindow {
    background-color: rgba(0, 0, 0, 0.75);
    /* border: 3px rgb(26, 125, 149) solid; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: auto;
    outline: 0; */
}

/* .modalAnimation {
    display: flex;
    width: 520px;
    height: 300px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(0, 0, 0);
    border: 5px rgb(0, 0, 0) solid;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
} */

.modalContent {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* height: 280px; */
    background-color: rgb(255, 255, 255);
    /* border: 5px rgb(0, 0, 0) solid; */
    /* position: relative; */
    /* border-radius: 20px; */
    margin: auto;
    margin-top: 250px;
    border-radius: 20px;
}

.modalHeader {
    display: flex;
    /* height: 60px; */
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 0 0;

}

.headerTitle {
    text-align: center;
    width: 100%;
    font-size: 34px;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.buttonClose {
    height: 28px;
    width: 30px;
    margin: 8px 9px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    fill: rgb(0, 0, 0);
    box-shadow: 0px 0px 8px 0.20rem rgba(255, 255, 255, 0.403);
}

.buttonClose:hover {
    background-color: rgb(0, 0, 0);
    fill: rgb(255, 255, 255);
}

.buttonClose:active {
    background-color: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
}

.modalBody {
    display: flex;
    flex-direction: column;
    background-color: rgba(158, 158, 158, 0.25);
    margin: 10px;
    gap: 4px;
}

.headerInput {
    height: 30px;
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    font-size: 1rem;
    border: 4px solid #bdbdbd;
    border-radius: 8px;
}

.bodyInput {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    font-size: 1rem;
    border: 4px solid #bdbdbd;
    border-radius: 8px;
    resize: none;

}

.modalFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.buttonChooseColor {
    display: flex;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 0.25rem rgba(158, 158, 158, 0.25);
    gap: 10px;
}



.circleOuter {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
}

.circleOuter:hover {
    transform: scale(0.94);
}


.circleInner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 4px;
    background-color: white;
}

.buttonDelete {
    text-align: center;
    font-size: 18px;
    background-color: rgba(195, 41, 41, 0.781);
    color: white;
    border-radius: 20px;
    margin-left: 100px;
    padding: 8px 12px;
    box-shadow: 0px 0px 6px 0.45rem rgba(158, 158, 158, 0.25);
}

.buttonDelete:hover {
    background-color: rgb(186, 53, 53);
}

.buttonDelete:active {
    background-color: rgb(152, 60, 60);
}

.buttonSave {
    text-align: center;
    font-size: 18px;
    background-color: rgba(44, 199, 44, 0.812);
    padding: 8px 12px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0.45rem rgba(158, 158, 158, 0.25);
}

.buttonSave:hover {
    background-color: rgb(47, 195, 47);
}

.buttonSave:active {
    background-color: rgb(92, 179, 92);
}

.titleCell {
    width: 120px;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 12px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 2px;
}

.titleCellChanges {
    position: relative;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 12px;
    height: 20px;
    background-color: tan;
}

.modalWindowList {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.modalContentList {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    margin-top: 250px;
}

.modalHeaderList {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}

.headerTitleList {
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding-top: 8px;
}

.buttonCloseList {
    height: 31px;
    width: 34px;
    margin: 8px 8px 0px 0px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    fill: white;
    box-shadow: 0px 0px 10px 0.2rem rgb(35 35 35 / 30%);
}


.buttonCloseList:hover {
    background-color: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
}

.buttonCloseList:active {
    background-color: rgb(0, 0, 0);
    fill: rgb(255, 255, 255);
}

.modalBodyList {
    display: flex;
    flex-direction: column;
    height: 208px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    gap: 12px;
    padding: 4px 0 16px 0;
}

.bodyTitleEntry {
    margin: 0px 12px;
    outline: 10px ridge;
    border-radius: 2rem;
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    outline-color: rgb(0, 0, 0);
}

.buttonAddNote {
    height: 46px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0 0 20px 20px;
    border: 2px rgb(0, 0, 0) solid;
}

.buttonAddNote:hover {
    background-color: #bdbdbd;
}

.buttonAddNote:active {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.modalSection {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
    justify-content: space-between;
}

.RangeDate {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: 12px 24px 12px;
    grid-gap: 4px;
}

.userSelectsDate {
    display: flex;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0.3rem rgba(158, 158, 158, 0.25);
}

.userArrow:hover {
    background-color: rgb(0, 0, 0);
    fill: rgb(255, 255, 255);
}

.userArrow:active {
    background-color: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
}

.inputUser {
    width: 100%;
    color: rgb(38, 137, 137);
}