.modalWindow {
    background-color: rgba(0, 0, 0, 0.75);
    /* border: 3px rgb(26, 125, 149) solid; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: auto;
    outline: 0; */
}

.modalContent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 290px;
    margin: 200px auto;
    background-color: rgb(65, 63, 63);
    border: 3px rgb(0, 0, 0) solid;
    /* border-radius: 10px;     */
    /* border-color: aqua; */
}

.modalHeader {
    display: flex;
    /* width: 500px; */
    height: 60px;
    background-color: rgb(0, 0, 0);
}

.headerTitle {
    text-align: center;
    width: 100%;
    font-size: 34px;
    color: rgb(216, 216, 216);
    padding-top: 6px;

}

.buttonClose {
    height: 30px;
    width: 30px;
    margin: 6px;
    background-color: white;
    color: white;

}

.modalBody {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    /* height: 200px; */
    background-color: rgb(3, 4, 7);
}

.headerInput {
    /* width: 500px; */
    height: 30px;
    color: rgb(0, 0, 0);
}

.bodyInput {
    /* width: 500px; */
    height: 50px;
    color: rgb(0, 0, 0);
    resize: none;
    /* margin-bottom: -4px; */
}

.modalFooter {
    display: flex;
    /* width: 500px; */
    height: 80px;
    background-color: rgb(9, 8, 14);
    gap: 20px;
    align-items: center;
    justify-content: end;
}

.buttonChooseColor {
    display: flex;
    padding: 6px 6px;
    border: 2px white solid;
    margin-bottom: 6px;
    gap: 10px;
    /* background-color: black; */
}

.circleOuter {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: white;
}

.circleInner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 4px;
    background-color: white;
}

.buttonDelete {
    text-align: center;
    font-size: 30px;
    /* background-color: white; */
    color: white;
    padding: 6px 14px;
    border: 2px white solid;
    margin-bottom: 6px;
}

.buttonDelete:active {
    /* transform: skew(-4deg, 2deg); */
    color: rgba(21, 119, 144, 0.963);
}

.buttonSave:active {
    /* transform: skew(-4deg, 2deg); */
    color: rgba(54, 21, 144, 0.963);
}

.buttonSave {
    /* height: 30px; 
    width: 80px;       */
    text-align: center;
    font-size: 30px;
    /* background-color: white; */
    margin-right: 10px;
    color: white;
    padding: 6px 14px;
    border: 2px white solid;
    margin-bottom: 6px;
}

.titleCell {
    width: 120px;
    border: 1px rgb(255, 255, 255) solid;
    font-size: 12px;
    height: 20px;
    background-color: tan;
}

.modalWindowList {
    background-color: rgba(0, 0, 0, 0.75);
    /* border: 3px rgb(26, 125, 149) solid; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.modalContentList {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    margin: 200px auto;
    background-color: rgb(43, 180, 214);
    border: 2px rgb(13, 35, 198) solid;
}

.modalHeaderList {
    display: flex;
    width: 500px;
    height: 60px;
    background-color: rgb(0, 80, 100);
}

.headerTitleList {
    text-align: center;
    width: 100%;
    font-size: 34px;
    color: rgb(216, 216, 216);
    padding-top: 6px;
}

.buttonCloseList {
    height: 30px;
    width: 30px;
    margin: 6px;
    background-color: white;
    color: white;
}

.modalBodyList {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    background-color: rgba(98, 92, 107, 0.6);
    overflow-y: auto;
    gap: 18px;
}

.bodyTitleEntry {
    width: auto;
    height: 30px;
    margin: 0px 12px;
    color: rgb(7, 6, 6);
    background-color: rgb(175, 212, 249);
    /* resize: none; */
    /* margin-bottom: -4px; */
    /* border-radius: 20px; */
    outline: 10px ridge;
    border-radius: 2rem;
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    border: 2px rgb(13, 35, 198) solid;
    border-color: aqua;
}

/* .bodyTitleEntry:hover {
    background-color: rgb(14, 107, 201);
} */

.buttonAddNote {
    width: auto;
    height: 60px;
    text-align: center;
    font-size: 30px;
    /* background-color: white; */
    margin-right: 6px;
    color: white;
    /* padding: 4px 18px; */
    /* border: 4px rgb(19, 45, 175) solid; */
    /* margin-bottom: 18px; */

}

.modalSection {
    display: flex;
    /* background-color: black; */
    /* gap: 6px; */
    margin: 4px 0px;
    justify-content: space-around;

}

.RangeDate {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: 12px 24px 12px;
    grid-gap: 4px;

    /* display: flex;
    width: 50%;
    
    justify-content: center;
   
    margin: 0px 10px;
    color: white;
    
    border: 2px white solid;
    align-items: center; */
}

.userSelectsDate {
    display: flex;
    /* width: 50px;
    height: 20px; */
    color: antiquewhite;
    border: 2px rgb(43, 180, 214) solid;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

}















/*
.userChoose {
    width: 100%;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: red;
}

.switch {
    border: 1px white solid;
    font-size: 20px;
    align-self: center;
    height: 16px;
    width: 16px;
    justify-content: center;
    opacity: 0;
    transition: all ease 0.8s;
}

.switch:hover {
    opacity: 1;
}

.user {
    border: 1px white solid;
    font-size: 10px;
    height: 20px;
}

.Up {}

.Down {}

.upUs {
    border: 1px white solid;
    font-size: 20px;
    align-self: center;
    height: 16px;
    width: 16px;
    justify-content: center;
}
*/